[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

python-dotenv = "*"
pandas = "*"
jupyter = "*"
matplotlib = "*"
requests = "*"
tensorflow = "*"
jupyter-tensorboard = "*"
keras = "*"
"h5py" = "*"


[dev-packages]

pylint = "*"
pytest = "*"
"autopep8" = "*"


[requires]

python_version = "3.6"
